body, h1, h2 {
    font-family: 'Kavoon', Georgia,serif;
}

html, body {
    height: 100%;
}

body {
    background-color: #266587;
    background: url(../img/bgBlue.jpg);
}

#clicker {
    width: 100%;
    top: 0;
    bottom: 50px;
    position: absolute;
    box-shadow: inset 0 0 100px rgba(0,0,0,0.5);
}

#clicker-score {
    font-size: 28px;
    text-shadow: 0 0 4px #000;
    color: #fff;
    background: rgba(0,0,0,0.4);
    text-align: center;
    line-height: 1;
    padding: 2px 0;
    position: absolute;
    left: 0;
    top: 5%;
    width: 100%;
    z-index: 100;
}

#clicker-cps {
    font-size: 50%;
}

#clicker-cookie {
    display: block;
    background: url(../img/perfectCookie.png) no-repeat center;
    background-size: 100% 100%;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-top: -125px;
    margin-left: -125px;
    border-radius: 50%;
    z-index: 20;
}

#clicker-cookie-shadow {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 60%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    box-shadow: 0 0 300px #fff;
    z-index: 10;
}

#clicker-cookie:active {
    background-size: 95% 95%;
}
#timer {
	-webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
#startBtn {
	position: relative;
	top: -20px;
}
#counter {
	display: block;
	width: 250px;
	height: 250px;
	position: absolute;
	top: 60%;
	left: 50%;
	margin-top: -125px;
	margin-left: -125px;
	z-index: -1;
	font-size: 250px;
	line-height:180px;
	text-align: center;
	color: white;
}
.progress {
	margin-top:10px;
	height: 30px;
}
#time-left {
	position: relative;
	top: -45px;
	font-size: 20px;
}

#hiddenIframe {
    display: none;
}


#loginBtn.disabled, #logoutBtn.disabled {
    display: none;
}