body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavoon', Georgia,serif;
}

html, body {
    height: 100%;
}

body {
    background-color: #266587;
    background: url(../img/bgBlue.jpg);
}

#clicker, #instructions{
    width: 100%;
    top: 0;
    bottom: 50px;
    position: absolute;
    box-shadow: inset 0 0 100px rgba(0,0,0,0.5);
}

.clicker-ribbon {
    font-size: 28px;
    text-shadow: 0 0 4px #000;
    color: #fff;
    background: rgba(0,0,0,0.4);
    text-align: center;
    line-height: 1;
    padding: 2px 0;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 100;
}

#clicker-score {
    top: 5%;
    transition: font-size 1s;
}
#clicker-score.large {
    font-size: 50px;
}

#clicker-timer {
    bottom: 5%;
    height: 100px;
    padding: 50px;
}


#clicker-cps {
    font-size: 50%;
}

#clicker-cookie {
    display: block;
    background: url(../img/perfectCookie.png) no-repeat center;
    background-size: 100% 100%;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -125px;
    border-radius: 50%;
    z-index: 20;
    opacity: 1;
}

#clicker-cookie.disabled {
    opacity: 0.6;
    cursor: default;
    background-size: 95% 95%;
}

#clicker-cookie-shadow {
    content: "";
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top: -110px;
    margin-left: -110px;
    box-shadow: 0 0 300px #fff;
    z-index: 10;
}

#clicker-cookie:active {
    background-size: 95% 95%;
}

#clicker-cookie:active.disabled {
    background-size: 95% 95%;
}

#timer {
	-webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

#clicker-timer-start {
    margin-top: -25px;
}
#startBtn {
    font-size: 25px;
}

#clicker-timer-counter {
    text-align: center;
    color: white;
    line-height: 0;
    font-size: 40px;
}

#clicker-timer-progress {
	margin-top: -20px;
	font-size: 25px;
    text-align: center;
    color: #172746;
    text-shadow: 0 0 4px rgba(255,255,255,0.7);
}
#clicker-timer .progress {
    height: 40px;
}
#clicker-timer-progress #time-left {
    height: 40px;
    margin-top: -40px;
    line-height: 0;
}

#hiddenIframe {
    display: none;
}

#loginBtn.disabled, #logoutBtn.disabled {
    display: none;
}