html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

body, h1, h2 {
    font-family: 'Kavoon', Georgia,serif;
}

body {
    background-color: #266587;
    background: url(../img/bgBlue.jpg);
}

#main {
    background-color: white;
    border-left: 5px solid #633724;
    counter-reset: sections 0;
    box-shadow: 0 0 50px rgba(0,0,0,0.7);
}

#main section {
    margin-bottom: 50px;
}

#main section > h2 {
    position: relative;
    padding-left: 15px;
    letter-spacing: 1px;
}

#main section > h2:before {
    counter-increment: sections 1;
    content: counter(sections);
    position: absolute;
    left: -43px;
    top: -10px;
    background-color: #633724;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 35px;
    line-height: 50px;
    border-radius: 50%;
    color: white;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #f5f5f5;
}

#clicker {
    width: 100%;
    height: 500px;
    background: url(../img/bgBlue.jpg);
    position: relative;
    box-shadow: inset 0 0 100px rgba(0,0,0,0.5);
}

#clicker-score {
    font-size: 28px;
    text-shadow: 0 0 4px #000;
    color: #fff;
    background: rgba(0,0,0,0.4);
    text-align: center;
    line-height: 1;
    padding: 2px 0;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    z-index: 100;
}

#clicker-cps {
    font-size: 50%;
}

#clicker-cookie {
    display: block;
    background: url(../img/perfectCookie.png) no-repeat center;
    background-size: 100% 100%;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 300px;
    left: 50%;
    margin-top: -125px;
    margin-left: -125px;
    border-radius: 50%;
    z-index: 20;
}

#clicker-cookie-shadow {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 300px;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    box-shadow: 0 0 300px #fff;
    z-index: 10;
}

#clicker-cookie:active {
    background-size: 90% 90%;
}